.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  height: 40vh;
  border-radius: 3px;
  background: url("./dark_stripes.png") center center;
  text-align: center;
}

.banner-content {
  padding-bottom: 30px;
}

.banner h1 {
  color: whitesmoke;
  font-size: 50px;
  letter-spacing: 4px;
  margin-bottom: 0px;
}

.banner p {
  color: white;
  opacity: 0.8;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 810px) {
  .banner {
    height: 80vh;
  }
}
